.chooseBtn {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
  }

  body{
    background-color:#bbb;
    }