
<div class="container">
<div class="col-50">
    <h2>Booking Details</h2>
    
    <div class="row">
      <div class="column" style="background-color:#bbb;">
          
    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
        <input type="text" id="fname" name="firstname" placeholder="name">
    
    <label for="lname"><i class="fa fa-user"></i> Last Name</label>
        <input type="text" id="lastname" name="lastname" placeholder="lastname">

    <label for="email"><i class="fa fa-envelope"></i> Email</label>
        <input type="text" id="email" name="email" placeholder="email">
    
    <label for="fname"><i class="fa fa-user"></i> Cellphone</label>
        <input type="number" id="fname" name="cell" placeholder="cell">

    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
        <input type="text" id="adr" name="address" placeholder="address">

    <label for="city"><i class="fa fa-institution"></i> City </label>
        <input type="text" id="city" name="city" placeholder="City">
<div class="row">
    <div class="col-50">
        <label for="state">Province</label>
        <input type="text" id="province" name="province" placeholder="Province">
    </div>
<div class="col-50">
        <label for="zip">Zip Code</label>
        <input type="text" id="zip" name="zip" placeholder="zip code">
</div>
<div>
        <h3>{{totalCost}}</h3>
    </div>
</div>
</div>

<div class="column1" style="background-color:#bbb;">
<div class="row">
<div class="col-75">
    <div class="container">
              
    <div class="col-50">
        <h3>Payment</h3>
    <label for="cname">Name on Card</label>
        <input type="text" id="cname" name="cardname" placeholder="John More Doe">
    <label for="ccnum">Card number</label>
        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
    <label for="expmonth">Exp Month</label>
        <input type="text" id="expmonth" name="expmonth" placeholder="September">

    <div class="row">
        <div class="col-50">
            <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
        </div>
        <div class="col-50">
            <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
        </div>
        </div>
        </div>
                        
        </div>
            <input type="submit" value="Continue to checkout" class="btn">
        </div>
        </div>
      </div>
