<div class="row">
<div class="column">
<div class="col-75">
    <div class="col-50">
        <h3>Payment Details</h3>
    <label for="cname">Name on Card</label>
        <input type="text" id="cname" name="cardname" placeholder="Name On card">
    <label for="ccnum">Card number</label>
        <input type="text" id="cardnum" onkeypress="return event.charCode>=48 && event.charCode<=57" maxlength="16" name="cardnumber" placeholder="cardNumber">

        <select class="custom-select" name="expMonth" [(ngModel)]="expMonth">
                <option value="">expMonth</option>
                <option *ngFor="let month of months">{{month}}</option></select>

            <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="expYear">
        </div>
        <div class="col-50">
            <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" onkeypress="return event.charCode>=48 && event.charCode<=57" maxlength="3" placeholder="CVV">
                
            </div>

    </div>
    <div class="columnM">
    <div class="col-50">
    <div *ngFor="let li of roomsInfoList | async; index as i">
    <h3>{{li.rname}} (i) {{li.rprice}}</h3>
    <img class="image"
    src={{li.rImage}}
    alt="Avatar"
    
  />
  <input type="submit" value="Continue To Check Out" class="btn" (click)="selectRoom({i})">
    </div>
    
    </div>
    
</div>
</div>   

<div class="cost">
    
    </div>